<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Weather-remainder{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/bundles/weatherremainder/css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('/bundles/weatherremainder/js/modernizr-1.5.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts_in_body %}
            <!-- javascript at the bottom for fast page loading -->
            <script type="text/javascript" src="{{ asset('/bundles/weatherremainder/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/weatherremainder/js/jquery.easing-sooper.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/weatherremainder/js/jquery.sooperfish.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('ul.sf-menu').sooperfish();
                    $('.top').click(function() {
                        $('html, body').animate({scrollTop: 0}, 'fast');
                        return false;
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
