{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('/bundles/weatherremainder/css/style.css') }}" type="text/css" rel="stylesheet" />
    <style>
        body
        {
            background-image: url('/bundles/weatherremainder/images/sun.jpg');
            background-size: cover;
        }
    </style>    
{% endblock %}
{% block body %}
    <div id="main">
        <header>
            <nav>
                <div id="menu_container">
                    <ul class="sf-menu" id="nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="examples.html">Examples</a></li>
                        <li><a href="page.html">A Page</a></li>
                        <li><a href="another_page.html">Another Page</a></li>
                        <li><a href="#">Example Drop Down</a>
                            <ul>
                                <li><a href="#">Drop Down One</a></li>
                                <li><a href="#">Drop Down Two</a>
                                    <ul>
                                        <li><a href="#">Sub Drop Down One</a></li>
                                        <li><a href="#">Sub Drop Down Two</a></li>
                                        <li><a href="#">Sub Drop Down Three</a></li>
                                        <li><a href="#">Sub Drop Down Four</a></li>
                                        <li><a href="#">Sub Drop Down Five</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down Three</a></li>
                                <li><a href="#">Drop Down Four</a></li>
                                <li><a href="#">Drop Down Five</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.php">Contact Us</a></li>
                    </ul>
                </div>
            </nav>	     
        </header>
        <div id="site_content">
            <div id="sidebar_container">
                <div class="sidebar">
                    <h3>Latest News</h3>
                    <h4>New Website Launched</h4>
                    <h5>January 1st, 2013</h5>
                    <p>2013 sees the redesign of our website. <a href="#">Read more</a></p>
                </div>
                <div class="sidebar">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="#">First Link</a></li>
                        <li><a href="#">Another Link</a></li>
                        <li><a href="#">And Another</a></li>
                        <li><a href="#">Last One</a></li>
                    </ul>
                </div>
                <div class="sidebar">
                    <h3>More Useful Links</h3>
                    <ul>
                        <li><a href="#">First Link</a></li>
                        <li><a href="#">Another Link</a></li>
                        <li><a href="#">And Another</a></li>
                        <li><a href="#">Last One</a></li>
                    </ul>
                </div>
            </div>
            <div class="content">
            {% if response is defined %}
                <p>Current cloud Cover is {{response.getCurrentCloudCover}}%</p>
                <p>Current humidity is {{response.getCurrentHumidity}}%</p>
                <p>Current pressure is {{response.getCurrentPressure}}</p>
                <p>Current temp C is {{response.getCurrentTempC}}&deg;C or {{response.getCurrentTempF}}&degF</p>
                <p>Current visibility is {{response.getCurrentVisibility}}%</p>
            </div>
            <div class="content">
            {% endif %}
                <form action="{{ path('tarasinio_weather_remainder_homepage') }}" method="post"  name = "city_selection">
                {{ form_errors(cityFinderForm) }}
                {{ form_label(cityFinderForm.ip) }}
                {{ form_widget(cityFinderForm.ip) }}
                {{ form_label(cityFinderForm.ip) }}
                {{ form_widget(cityFinderForm.ip) }}
                    <input type="submit" value ="choose city" />
                </form>
            </div>
        </div>
        <footer>
        </footer>
    </div>
{% endblock %}